@import "../../common/index.scss";

.quote-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 24px 0 24px;

  @include for-size("tablet-portrait-up") {
    padding: 80px 131px 64px 64px;
    justify-content: space-between;
  }
  @include for-size("desktop-up") {
    padding: 56px 165px;
    justify-content: flex-start;
  }

  &-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    min-width: 290px;
    .header {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      display: flex;
      color: #ffffff;
      @include for-size("tablet-portrait-up") {
        font-size: 18px;
        line-height: 28px;
      }
      @include for-size("desktop-up") {
        max-width: 552px;
      }
    }
    .subtitle {
      font-weight: 700;
      font-size: 12px;
      line-height: 22px;
      display: flex;
      color: #ffffff;

      @include for-size("tablet-portrait-up") {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  &-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100px;
    .img {
      align-self: flex-start;
      cursor: pointer;
    }
  }
}
