.button {
  background: #ffffff;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 4px 13px 17px;
  gap: 15px;
  height: 39px;
  min-width: 115px;
  transition: 0.5s all ease;

  span {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #303030;
    border-radius: 50%;

    .button-icon-img {
      transition: 0.5s all ease;
    }
  }
}
