@import "./common/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;

  body {
    height: 100vh;
    width: 100vw;
  }
  .app {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;

    .overlay {
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: #00000072;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 999;
      height: 100%;
      transition: 0.3s all ease;
      .top {
        width: 100%;
        height: 100%;
        flex: 1;
      }
      .middle {
        width: 100%;
        height: 100%;
        flex: 1;
        padding: 40px 24px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        transition: 0.3s all ease;
        gap: 48px;
        &.show {
          padding-top: 100px;
          flex: 2;
        }
        &-button {
          border: none;
          padding: 10px;
          background: white;
          border-radius: 20px;
          min-width: 100px;
        }
      }
      .bottom {
        width: 100%;
        transition: 0.3s all ease;
        background-blend-mode: 20.3871px;
        height: 0;
        gap: 16px;
        display: none;
        @include for-size("tablet-portrait-up") {
          min-height: 440px;
          padding: 119px 196px 119px 64px;
        }
        .details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 26px;
          width: 100%;
          @include for-size("tablet-portrait-up") {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
          &:first-child {
            padding-top: 48px;
            @include for-size("tablet-portrait-up") {
              padding-top: 0;
            }
          }
          &:last-child {
            padding-bottom: 48px;
            @include for-size("tablet-portrait-up") {
              padding-bottom: 0;
            }
          }
          &-header {
            font-weight: 400;
            font-size: 10px;
            line-height: 28px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include for-size("tablet-portrait-up") {
              font-size: 13px;
            }
          }
          &-subtitle {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: right;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include for-size("tablet-portrait-up") {
              font-size: 40px;
              line-height: 48px;
              max-width: 322px;
            }
          }
        }
        &.show {
          transition: 0.3s all ease;
          flex: 1;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          @include for-size("tablet-portrait-up") {
            display: grid;
            grid-template-columns: repeat(2, 330px);
            gap: 48px;
          }
        }
      }
    }
  }
}
