* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;

  .app {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    position: relative;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 999;
      height: 100%;
      .top {
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        padding: 40px 24px 0 24px;
      }
      .middle {
        width: 100%;
        height: 100%;
        padding: 40px 24px 0 24px;
      }
      .bottom {
        width: 100%;
        height: 0%;
        transition: 0.3s all ease;

        &.show {
          height: 100%;
        }
      }
    }
  }
}
