* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;

  .app {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    position: relative;
    object-fit: cover;
    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      opacity: 0.4;
    }
  }
}
