$black: #000000;
$light-blac: #303030;
$white: #ffffff;

$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

$font-size-88: 5.5rem;
$font-size-48: 3rem;
$font-size-40: 2.5rem;
$font-size-32: 2rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$font-size-11: 0.688rem;

$line-height-88: 5.5rem;
$line-height-56: 3.5rem;
$line-height-48: 3rem;
$line-height-38: 2.375rem;
$line-height-36: 2.25rem;
$line-height-32: 2rem;
$line-height-28: 1.75rem;
$line-height-26: 1.625rem;
$line-height-24: 1.5rem;
$line-height-22: 1.375rem;
$line-height-20: 1.25rem;
$line-height-18: 1.125rem;
$line-height-15: 0.938rem;

$letter-spacing-25: -0.016rem;
$letter-spacing-625: -0.039rem;
$letter-spacing-1: -0.063rem;
$letter-spacing-8: -0.05rem;
$letter-spacing-416667: -0.025rem;
$letter-spacing-3125: -0.02rem;
$letter-spacing-229167: -0.014rem;
$letter-spacing-1-5: -0.094rem;

$padding-spaicing-355: 22.188rem;
$padding-spaicing-79: 4.938rem;
$padding-spaicing-64: 4rem;
$padding-spaicing-56: 2.5rem;
$padding-spaicing-48: 3rem;
$padding-spaicing-42: 2.625rem;
$padding-spaicing-40: 2.5rem;
$padding-spaicing-32: 2rem;
$padding-spaicing-28: 1.75rem;
$padding-spaicing-24: 1.5rem;
$padding-spaicing-20: 1.25rem;
$padding-spaicing-18: 1.125rem;
$padding-spaicing-16: 1rem;

// spacing
$spacing-4: 0.25rem;
$spacing-6: 0.375rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-28: 1.75rem;
$spacing-32: 2rem;
$spacing-43: 2.688rem;
$spacing-48: 3rem;

// border-radius
$border-radius-4: 0.25rem;
$border-radius-8: 0.5rem;
$border-radius-16: 1rem;
$border-radius-24: 1.5rem;
$border-radius-32: 2rem;
$border-radius-48: 3rem;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == lumia {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
